In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Customer-Churn.csv")

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df["Churn"].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

# Method 1: Under sampling of majoriy class

In [6]:
df_yes=df[df["Churn"]=="Yes"]

In [7]:
df_No=df[df["Churn"]=="No"]

In [8]:
df_yes.shape

(1869, 21)

In [9]:
df_No.shape

(5174, 21)

In [10]:
df_No_under_sample=df_No.sample(1869)

In [11]:
Final_df=pd.concat([df_No_under_sample,df_yes],axis=0)

In [12]:
Final_df["Churn"].value_counts()

Churn
No     1869
Yes    1869
Name: count, dtype: int64

In [13]:
x=Final_df.drop(columns=["Churn"],axis=1)
y=Final_df["Churn"]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42,stratify=y)

In [16]:
y_train.value_counts()

Churn
No     1495
Yes    1495
Name: count, dtype: int64

# Method 2: Over sampling of Minority class

In [17]:
df_yes.shape,df_No.shape

((1869, 21), (5174, 21))

In [18]:
df_yes_over=df_yes.sample(5174,replace=True)

In [19]:
df_final=pd.concat([df_No,df_yes_over],axis=0)

In [20]:
df_final.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
852,8713-IGZSO,Male,0,No,No,2,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,24.85,62,No
4335,9208-OLGAQ,Female,1,No,No,18,Yes,No,Fiber optic,No,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,84.95,1443.65,No
6967,8739-WWKDU,Male,1,No,No,25,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,89.50,2196.15,Yes
2397,3722-WPXTK,Male,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,88.35,88.35,Yes
1334,1768-ZAIFU,Female,1,No,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,25.20,25.2,Yes

In [21]:
df_final["Churn"].value_counts()

Churn
No     5174
Yes    5174
Name: count, dtype: int64

In [22]:
x=Final_df.drop(columns=["Churn"],axis=1)
y=Final_df["Churn"]

In [23]:
X_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=15,stratify=y)

In [24]:
y_train.value_counts()

Churn
No     1495
Yes    1495
Name: count, dtype: int64

In [25]:
X_train.shape

(2990, 20)

In [26]:
y.value_counts()

Churn
No     1869
Yes    1869
Name: count, dtype: int64

# Method 3: SMOTE

In [27]:
df.sample(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1964,2430-RRYUW,Male,0,No,No,66,Yes,No,DSL,Yes,...,No,No,No,No,One year,Yes,Mailed check,54.8,3465.7,No
3906,6372-RFVNS,Female,0,Yes,No,1,Yes,No,Fiber optic,No,...,No,No,Yes,No,Month-to-month,No,Electronic check,78.8,78.8,Yes
5551,8457-XIGKN,Male,0,No,No,20,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Credit card (automatic),19.6,356.15,No

In [36]:
df.replace("No internet service","No",inplace=True)
df.replace("No phone service","No",inplace=True)

In [38]:
for i in df.columns:
    if df[i].dtype=="O" and "Yes" in df[i].unique():
        df[i]=df[i].apply(lambda x :1 if x=="Yes" else 0)
        print(i,df[i].unique())

Partner [1 0]
Dependents [0 1]
PhoneService [0 1]
MultipleLines [0 1]
OnlineSecurity [0 1]
OnlineBackup [1 0]
DeviceProtection [0 1]
TechSupport [0 1]
StreamingTV [0 1]
StreamingMovies [0 1]
PaperlessBilling [1 0]
Churn [0 1]

In [29]:
df.drop(columns=["customerID"],axis=1,inplace=True)

In [42]:
for i in df.columns:
    if df[i].dtype=="O":
        print(i,df[i].unique())

InternetService ['DSL' 'Fiber optic' 'No']
Contract ['Month-to-month' 'One year' 'Two year']
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']

In [41]:
df["gender"]=df["gender"].map({"Female":1,"Male":0})

In [44]:
df=pd.get_dummies(data=df,columns=["InternetService","Contract","PaymentMethod"],dtype=int)

In [45]:
df.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
2684,0,0,0,0,69,1,1,0,1,0,...,0,1,0,0,1,0,1,0,0,0
2346,1,0,1,1,71,1,1,0,1,1,...,0,1,0,0,0,1,0,1,0,0
4265,0,1,1,0,66,1,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
6175,0,0,1,1,32,1,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
5088,1,0,1,1,57,1,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0

In [46]:
for i in df.columns:
    if df[i].dtype=="O":
        print(i,df[i].unique())

TotalCharges ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']

In [51]:
df["TotalCharges"]=df["TotalCharges"].replace(" ",0).astype(float)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   int64
 1   SeniorCitizen                            7043 non-null   int64
 2   Partner                                  7043 non-null   int64
 3   Dependents                               7043 non-null   int64
 4   tenure                                   7043 non-null   int64
 5   PhoneService                             7043 non-null   int64
 6   MultipleLines                            7043 non-null   int64
 7   OnlineSecurity                           7043 non-null   int64
 8   OnlineBackup                             7043 non-null   int64
 9   DeviceProtection                         7043 non-null   int64
 10  TechSupport                              7043 non-null   int64
 11  StreamingTV                              7043 non-null   int64
 12  StreamingMovies                          7043 non-null   int64
 13  PaperlessBilling                         7043 non-null   int64
 14  MonthlyCharges                           7043 non-null   float64
 15  TotalCharges                             7043 non-null   float64
 16  Churn                                    7043 non-null   int64
 17  InternetService_DSL                      7043 non-null   int32
 18  InternetService_Fiber optic              7043 non-null   int32
 19  InternetService_No                       7043 non-null   int32
 20  Contract_Month-to-month                  7043 non-null   int32
 21  Contract_One year                        7043 non-null   int32
 22  Contract_Two year                        7043 non-null   int32
 23  PaymentMethod_Bank transfer (automatic)  7043 non-null   int32
 24  PaymentMethod_Credit card (automatic)    7043 non-null   int32
 25  PaymentMethod_Electronic check           7043 non-null   int32
 26  PaymentMethod_Mailed check               7043 non-null   int32
dtypes: float64(2), int32(10), int64(15)
memory usage: 1.2 MB

In [53]:
x=df.drop(columns=["Churn"],axis=1)
y=df["Churn"]

In [54]:
y.value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [55]:
from imblearn.over_sampling import SMOTE

In [58]:
smote=SMOTE(sampling_strategy="minority")
x_sm,y_sm=smote.fit_resample(x,y)

In [60]:
y_sm.value_counts()

Churn
0    5174
1    5174
Name: count, dtype: int64

# Method 4: Use of ensemble with undersampling

In [61]:
df["Churn"].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [62]:
x=df.drop(columns=["Churn"],axis=1)
y=df["Churn"]

In [63]:
X_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=15,stratify=y)

In [64]:
y_train.value_counts()

Churn
0    4139
1    1495
Name: count, dtype: int64

In [65]:
4139/1495

2.768561872909699

In [73]:
df_2_yes=df[df["Churn"]==1]
df_2_No=df[df["Churn"]==0]

In [74]:
df_2_yes["Churn"].value_counts()

Churn
1    1869
Name: count, dtype: int64

In [75]:
df_2_No["Churn"].value_counts()

Churn
0    5174
Name: count, dtype: int64

In [79]:
df_1=pd.concat([df_2_No[:(1869)],df_2_yes],axis=0)
df_2=pd.concat([df_2_No[1869:(1869+1869)],df_2_yes],axis=0)
df_3=pd.concat([df_2_No[1869+1869:],df_2_yes],axis=0)

In [80]:
df_1["Churn"].value_counts()

Churn
0    1869
1    1869
Name: count, dtype: int64

In [81]:
df_2["Churn"].value_counts()

Churn
0    1869
1    1869
Name: count, dtype: int64

In [82]:
df_3["Churn"].value_counts()

Churn
1    1869
0    1436
Name: count, dtype: int64